/* Responsivo */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header h1 {
        font-size: 20px;
    }

    #fecha {
        padding: 20px 15px 5px 0;
    }

    .agregar-tarea {
        height: 100px;
        margin: 20px 0;
    }

    .agregar-tarea i {
        font-size: 40px;
    }

    .agregar-tarea input {
        font-size: 1rem;
    }

    .seccion-tarea h3 {
        font-size: 18px;
    }

    .seccion-tarea li {
        padding: 10px;
    }

    .seccion-tarea i {
        font-size: 16px;
    }

    .seccion-tarea ul p {
        font-size: 1rem;
    }
}

/* Estilos Generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #F9F8F8;
    --pink: #FF6B6B;
    --teal: #00A79D;
    --indigo: #3D5A80;
    --yellow: #FFD700;
}

body {
    background: linear-gradient(to bottom, var(--pink), var(--white));
    height: 100vh;
    font-family: 'Prompt', sans-serif;
}

.container {
    max-width: 100%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Estilos de Header */
header {
    
    background-color: var(--indigo);
    color: var(--white);
    padding: 0px 0;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

/* Estilos de Perfil */
.perfil h2 {
    color: var(--white);
}

.perfil span {
    color: var(--white);
    letter-spacing: 1px;
}

#fecha {
    color: var(--white);
    padding: 50px 15px 5px 0px;
}

/* Estilos de Agregar Tarea */
.agregar-tarea {
    background-color: var(--white);
    width: 100%;
    height: 70px;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 40px 0;
}

.agregar-tarea i {
    font-size: 50px;
    color: var(--pink);
}

.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.agregar-tarea input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: var(--white);
    padding-left: 10px;
}

.agregar-tarea input::placeholder {
    font-size: 1.1rem;
    color: var(--pink);
}

/* Estilos de Sección de Tarea */
.seccion-tarea h3 {
    margin-bottom: 20px;
    color: var(--white);
}

.seccion-tarea li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, var(--white), var(--yellow));
    border-radius: 15px;
    color: var(--white);
    padding: 10px;
    margin: 5px 0;
}

.seccion-tarea i {
    font-size: 20px;
}

.seccion-tarea i:hover {
    color: var(--teal);
    cursor: pointer;
}

.seccion-tarea ul p {
    font-size: 1.2rem;
}

.line-through {
    text-decoration: line-through;
    color: var(--teal);
}

/* Estilos de Footer */
footer {
    background-color: var(--indigo);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
